.blog-footer {
  background-color: var(--dark);
  color: #ffffff;
  font-size: 100%;
  font-family: 'TeXGyreAdventorBold';
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .section {
    margin: 0;
  }
}